* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.container {
    display: flex;
}

.sidebar {
    width: 15%;
    height: 100%;
    position: fixed;
    background-color: #2f407a;
}

.sidebar-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.img-sidebar {
    text-align: center;
}

.img-sidebar img {
    width: 60%;
    border: 8px solid lightblue;
    border-radius: 50%;
}

.menu {
    margin: 20px 0;
    text-align: center;
}

.menu a {
    display: block;
    margin-bottom: 23px;
    color: white;
    opacity: 0.4;
    font-size: 1.5rem;
    font-family: 'Saira Extra Condensed', sans-serif;
    text-decoration: none;
}

.menu a.selected {
    opacity: 1;
}

.content {
    position: absolute;
    left: 15%;
    width: 80%;
    height: 100%;
    overflow-y: auto;
    padding: 0 3%;
}

section.description {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section.description h1 {
    color: #343a40;
    text-transform: uppercase;
    font-size: 6rem;
    font-family: 'Saira Extra Condensed', sans-serif;
    margin-bottom: 0 !important;
    line-height: 1;
}

section.description h1>span {
    color: #2f407a;
}

section .subheading {
    color: #6c757d;
    font-size: 1.5rem;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 3rem !important;
}

section .about {
    color: #6c757d;
    font-size: 20px;
    font-family: "Muli", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin-bottom: 3rem !important;
}

section.description span a {
    text-decoration: underline;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    background-color: #495057;
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border-radius: 30px;
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.social-icons i {
    line-height: 50px;
}